.TypeWord__Output-text{
    display: flex;
    justify-content: center;
    
}
.textCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:50vh;

}
.typeWordLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}